      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="/atom.xml" type="application/atom+xml" target="_blank"><i class="fa-solid fa-rss"></i> Atom feed</a>
          </li>
          <li>
            <a href="mailto:joe@joeshaw.org" rel="me"><i class="fa fa-email"></i> Email</a>
          </li>
          <li>
            <a href="https://github.com/joeshaw" rel="me"><i class="fa-brands fa-github"></i> GitHub</a>
          </li>
          <li>
            <a href="https://bsky.app/profile/joeshaw.org" rel="me"><i class="fa-brands fa-bluesky"></i> Bluesky</a>
          </li>
          <li>
            <a href="https://mastodon.social/@joeshaw" rel="me"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
          </li>
          <li>
            <a href="https://twitter.com/joeshaw" rel="me"><i class="fa-brands fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="https://linkedin.com/in/joeshaw" rel="me"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
          </li>
          <li>
            <a href="https://www.stackoverflow.com/users/156/joe-shaw" rel="me"><i class="fa-brands fa-stackoverflow"></i> Stack Overflow</a>
          </li>
        </ul>
      </footer>

    </div>

{{ template "_internal/google_analytics_async.html" . }}

  </body>
</html>
